<div id="home_background" class="night">
	<div class="container">
		<div class="row">
			<div id="sentence" class="col-md-offset-4 col-md-4 col-xs-12">
				<h1>I am be down to hang</h1>
				<h1>at <a class="green-text night">8:00pm</a></h1>
				<h1>for <a class="green-text night">2 Hours</a></h1>
				<h1>I want to</h1>
				<!-- <ul id="categories">
					<li>I want to hangout</li>
				</ul> -->
				<h1><i id="add_category_btn" class="fa fa-plus"></i></h1>
				<button id="hang_btn" class="btn btn-block btn-lg">Hang</button>
			</div>
		</div>
	</div>
</div>
