<div class="home_background night">
	<div class="container">
		<div class="row">
			<div class="col-md-offset-4 col-md-4 col-xs-12">
			<p class="text-center"><%= image_tag("hang_logo_night.png", :class=>"logo") %></p>
			<% if @matches.count <= 0 %>
				<p class="text-center lead">No matches yet.  We will notify you when there's a match</p>
			<% else %>
				<% @matches.each do |m| %>
				<div class="row request-row">
		  			<div class="col-xs-3">
		  				<p class="text-center">
		  					<%= image_tag("placeholder.png", :class=> "img-circle profile-pic") %>
		  				</p>
		  			</div>
		  			<div class="col-xs-9">
		  				<p class="lead">
		  					<%= m.name || m.email %>
		  					<br />2h 14m Golf Food
		  				</p>
		  			</div>
		  		</div>
				<% end %>
			<% end %>
			</div>
		</div>
	</div>
</div>