html, body {
	height: 100%;
}

.home_background.night {
	background: #1d3043;
	color: white;
	height: 100%;
}
.home_background.day {
	background: #bdc4c7;
}
.green-text.night {
	color: #18bc9c;
}
.green-text.day {
	color: #169f84;
}

.hidden-dropdown-activity {
	display:none;
}
#menuModal .tab-pane {
	max-height: 300px;
	overflow-y: auto;
	overflow-x: hidden;
}
#menuModal .tab-pane p.message {
	margin-top: 10px;
}

#menu_tabs li a {
	color: black !important;
}
.profile-pic {
	height: 50px;
}
.request-row {
	padding: 5px;
	border-bottom: 1px solid #ddd;
}
.request-row p {
	margin-bottom: 0px;
	font-size: 18px;
}
.request-row p button {
	height: 24px;
	padding: 2px;
}

.logo {
	margin-top: 20px;
	height: 50px;
	cursor: pointer;
}
#sentence h1 {
	font-size: 2.5em !important;
}
#sentence a {
	cursor: pointer;
}
#sentence a:hover {
	text-decoration: none;
}
#add_category_btn {
	cursor: pointer;
	color: white;
}

#hang_btn {
	background-color: #18bc9c;
}
#hang_btn:hover {
	background-color: #169f84;
	color: white;
}