#blue-nav {
	background: #1d3043 !important;
}

.navbar-brand {
	color:#1abc9c !important;
	font-weight: bold !important;
}

.form-control {

}

#jumbo-text p {
	padding-left:.4em;
}

/*.dropdown-menu li {
	background-color: #ffffff !important;
}
*/

#spacer {
	margin-top: 2em;
	padding-left: 1.4em;
}


#fist img {
	height: 100%;
	width: 100%;
	padding-left:4em;
	padding-right:4em;
}

#fist {
	padding-left:0em;
	padding-right:0em;
	background:#1d3043 !important;
}

.nav.navbar-nav.navbar-right .dropdown-menu {
	padding: 10px;
}
#wiggle img {
	height:20px;
}
.carousel-control {
	background: #1d3043 !important;
	opacity: 0.2;
}


.btn-input {
	display: inline-block;
}

#dth-block
{
	display: block;
}

.well{
	background: #1d3043 !important;
	color: #ffffff;
}

.carousel-caption {
	text-align: left !important;
}

.media-object {
	border-radius: 100%;
	border: 1px solid #1abc9c;
}

div.new_html_code {
  height:350px;
  min-width:150px;
  min-height:100px;
  overflow-y: scroll;
}

.media-body p {
	font-size:  !important;
}
#dropdown-button {
	background: #1d3043 !important;
}

#dropdown-button span {
	color: #1abc9c;
}

#btn-plus {
	background: #1d3043 !important;
	color: #1abc9c;
	border-color: #ccc !important;
}
	
.btn-default span {
	text-shadow: none;
}

.btn-group-vertical button {
	display:inline-block;
	text-align:center;
	margin-left:auto !important;
	margin-right:auto !important;
}

.list-unstyled {
	color: #1abc9c;
}

.jumbotron .dropdown-menu {
	background: #1d3043;
}

.jumbotron .dropdown-menu li a{
	background: #1d3043 !important;
	color: #1abc9c !important;
}
.jumbotron .dropdown-menu li a:hover{
	font-weight: bold;
}

.hover-select {
	color: #08f0c2;
}